# Rails locals
log/*.log
tmp/**/*
config/database.yml
db/*.sqlite3
db/sphinx/*
config/*.sphinx.conf
log/*.pid
public/system
vendor/cache/*.gem

# Ignore all backup files
*~

# Mac-specific files
.DS_Store

# Ignore Emacs auto saved files
*#*#
.#*
.emacs*

# Ignore Vim files
*.swp

# Ignore autotest (cucumber, rspec, ...) local configuration
.autotest

# Ignore schema.rb
db/schema.rb

.idea

# Merge files
*.orig

# Ignore mysql dump
*.sql

# defaults
.bundle
doc/api
doc/app
rerun.txt
