<h1>Projects of <%= @current_company %></h1>

<ul>
  <% @project.each do |cp| %>
    <li><%= link_to cp.name, project_url(cp) %></li>
  <% end %>
</ul>

<p><%= link_to "Create new project", new_project_path %></p>