%section#head-a
  %h2= @project.name
  %p.project-title= @project.description
  %ul.project-resume
    %li
      Total time:
      %span 564 hours
    %li
      This month:
      %span 164 hours
    %li
      This week:
      %span 38 hours
%h1 Workers on the project
%section
  - if @project.participations.any?
    %ul#project-members
      - @project.participations.each do |part|
        %li
          .member-infos
            =image_tag(part.user.avatar.url(:thumb))
            %h3= part.user
            %p.user-role= part.user.role
          %ul.member-time
            %li
              Total time:
              %span 20 hours 20 minutes
            %li
              This month:
              %span 20 hours 20 minutes
            %li
              This week:
              %span 3 hours 04 minutes
  - else
    %p There is nobody participating on this project.
%h1 Charts
%section
  #charts-a
    %ul
      %li
        %span.worker-name Romain Gérard
        .worker-chart 20
        hours