%section#head-a
  %h2= @project.name
  %p.project-title= @project.description
  %ul.project-resume
    %li
      Total time:
      %span 564 hours
    %li
      This month:
      %span 164 hours
    %li
      This week:
      %span 38 hours
%h1 Workers on the project
%section
  %ul#project-members
    %li
      .member-infos
        =image_tag("default.png", :alt => "Default Avatar")
        %h3 Romain Gérard
        %p.user-role Webdesigner
      %ul.member-time
        %li
          Total time:
          %span 20 hours 20 minutes
        %li
          This month:
          %span 20 hours 20 minutes
        %li
          This week:
          %span 3 hours 04 minutes
%h1 Charts
%section
  #charts-a
    %ul
      %li
        %span.worker-name Romain Gérard
        .worker-chart 20
        hours