<h1>What are you working on right now?</h1>

<% form_for :time_slot do |f| %>
  <% @projects.each do |p| %>
    <% f.radio_button :project_id, p.name %>
  <% end %>
  <% f.submit "Track time!" %>
<% end %>