%h1 What are you working on?
%section
  - if @projects.any?
    %div{:class => "form-a", :id => "work-on"}
      - form_for :time_slot, :url => timeline_path, :html => {:method => :put} do |f|
        %ul.radiolist
          - @projects.each do |p|
            %li
              = f.hidden_field :project_id, :value => p.id
              = f.label "project_id_#{p.id}", p.name

        %p.form-submit
          %span.button= f.submit "Track time!"
  - else
    %p Please create some projects for your company first !
