%h1 What are you working on right now?

- form_for :time_slot, :url => timeline_path, :html => {:method => :put} do |f|
  - @projects.each do |p|
    = f.radio_button :project_id, p.id
    = f.label "project_id_#{p.id}", p.name
    %br
  = f.submit "Track time!"